<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Directory</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>

<div class="container">

    <h3>The Company Management System</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/newUserForm}"
       class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Country</th>
            <th>City</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempUser : ${listOfUsers}">
            <td th:text="${tempUser.firstName}" />
            <td th:text="${tempUser.lastName}" />
            <td th:text="${tempUser.email}" />
            <td th:text="${tempUser.phoneNumber}" />
            <td th:text="${tempUser.branchCountry}" />
            <td th:text="${tempUser.branchCity}" />
            <td>
                <a th:href="@{/showFormForUpdate(userId=${tempUser.id})}"
                   class="btn btn-info btn-sm">Update</a>
                <a th:href="@{/delete(userId=${tempUser.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>

    </table>

    <a th:href="@{/showLoginPage}"
       class="btn btn-danger btn-sm mb-3">
        Logout
    </a>

</div>

</body>
</html>